<div class="row">
    <div class="col-md-12">
        <h1 class="text-center text-muted">
            All About Piggy Bank
        </h1>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">
                    Our Mission and Purpose
                </h3>
                <p>
                    Piggy Bank provides the highest level of personal financial services in a professional and easy to use manner, to promote sound saving practices by increasing knowledge and ability to have full control over one's financial well-being.
                </p>
                <p>
                    Piggy Bank was created as an easy to use web application to allow anyone to become an expert saver.  You simply create a goal of something you'd like to save for (a new car, TV, vacation, etc.), it can be anything!!! Then you set aside money, you would normally use for small miscellaneous expenses and put that towards your goal!!!  Once you've reached your goal, go purchase that item and start again!!!
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">
                    About the Founder
                </h3>
                <div class="col-md-8">
                    <p>
                        Tyler Hugus was born in Toledo, OH in 1991.  He grew up in a househould that revolved around finance and banking.  He graduated from Case Western Reserve University in Cleveland, OH with a degree in economics and finance.  Upon graduation, Tyler moved to Houston, TX to develop his skills as a web and software developer at Coder Camps.  In his free time, Tyler loves to watch The Ohio State Buckeyes football team and any soccer match that is available.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/558984_4689240663761_2114764283_n.jpg?oh=08a39ce16a4081c7bbf48da7a630b3e0&oe=571ED7E1" class="img-responsive img-circle center-block" style="height: 200px; width:auto;" />
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">
                    How to Use Piggy Bank...
                </h3>
                <ul>
                    <li>The first thing is to login in or register as a new user (you can click the link in the top right corner). </li>
                    <li>The rest is completely customizable, and enables you to set a savings goal, track expenses being skipped, and various incomes and major debts</li>
                    <li>Navigate to the savings page and enter a goal you'd like to save for.  As you go about your day and decide what minor expenses you'd like to skip, you have the ability to easily keep track, leading up to the point where you've reached your goal</li>
                    <li>For more clarity on the money you're bringing in versus spending each month, navigate to the incomes vs. debts page.</li>
                    <li>Here you'll have a fully customizable view of all household incomes and major debts(think mortgage, rent, car payment, etc.)</li>
                </ul>
            </div>
        </div>
    </div>
</div>