<div class="row text-center">
    <div class="col-md-3 col-md-offset-4">
        <h2 class="text-muted">Add New Expense</h2>
        <form ng-submit="create.addExpense()">
            <div class="row">
                <input class="form-control" placeholder="Enter Expense Name..." ng-model="create.newExpense.name" />
            </div>
            <div class="row">
                <input class="form-control" placeholder="Enter Dollar Amount..." ng-model="create.newExpense.value" />
            </div>
            <br />
            <div class="row">
                <input type="submit" value="Submit Expense" class="form-control" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <a href="#/saving" class="btn btn-default">Go Back</a>
</div>