    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 style="color:darkseagreen">
                    Welcome to the <br />
                    Piggy Bank App!!!
                </h1>
                <br />
                <img src="http://previews.123rf.com/images/stalkerstudent/stalkerstudent1506/stalkerstudent150601113/41488411-Vector-piggy-bank-icon-Flat-Vector-illustration-Stock-Vector.jpg" class="img-responsive img-circle center-block" style="height: 500px; width:auto;" />
                <br />
                <p>
                    Piggy Bank is a personalized application to help you better understand your personal savings!!! It can help you set a savings goal and see how you're able to achieve it!! Piggy Bank enables you to track your different incomes and debts as well!!!
                </p>
                <p>
                    <a class="btn btn-success btn-large" href="#/about">Learn more</a>
                </p>
            </div>
        </div>
    </div>
